doctype html
html(lang="ja")
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title ネコミミでもわかるフロントエンド環境構築 | Monochrome
    script(src="//webfont.fontplus.jp/accessor/script/fontplus.js?0lZ5mZy2MdQ%3D&box=dVvSYikSc9g%3D&aa=1")
  body
    section.active(
      data-aos="fade-up"
      data-aos-delay="500"
      data-aos-duration="1000"
    )
      div.buttons
        a(href="https://techbookfest.org/event/tbf04/circle/17590004")
          div.button(role="button", tabIndex="0") くわしく
        a
          div.button(role="button", tabIndex="0", data-disabled="true") 電子書籍版
    main#scene
      div.layer(data-depth="0.2")
        div.particles#particles
      div.layer(data-depth="0.4")
        img.chara(src="/tbf04/images/chara.png", alt="")
      div.layer(
        data-aos="fade-right",
        data-aos-delay="300",
        data-aos-duration="1000"
      )
        img.title(
          src="/tbf04/images/title.png",
          alt="ネコミミでもわかるフロントエンド環境構築"
        )
